html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #eee;
    max-width: 1000px;
    margin: auto;
}

.bodyDark {
    background-color: #6e8fb3;
    max-width: 1000px;
    margin: auto;
}

.SectionTitle {
    font-family: 'Lato', sans-serif;
    color: hsl(0, 0%, 25%);
    letter-spacing: 3px;
    background-color: #cad5de;
    padding: 46px;
    text-align: center;
    text-shadow: -7px 1px 4px #9db4c7;
    box-shadow: 3px 3px 3px #bbb;
    border-radius: 30px 30px 0px 0px;
}

.navMenu {
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
    background-color: #5d7c9a;
    padding: 15px;
    display: flex;
    list-style-type: none;
    box-shadow: 3px 3px 3px #bbb;
    margin-bottom: 60px;
}

.navMenu_section {
    margin-left: 60px;
    padding: 15px;
    text-decoration: none;
    color: #eff1f4;
}

.navMenu_section:hover {
    color: #eff1f4;
    background-color: #3d566f;
    transition: 1.0s;
}

.button {
    max-width: 100%;
    color: #eff1f4;
    background-color: #5d7c9a;
    padding: 6px;
    
    margin: auto;
}

.buttonSpace {
    background-color: #5d7c9a;
    padding: 4px;
}

.PepinieraZnaczenie {
    letter-spacing: 2px;
    color: #214a74;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: -5px 1px 3px #a4a4a4;
}

.PepinieraZnaczenieJasne {
    color: #eff1f4;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: -3px 2px 3px #333333;
}

.galleryRow {
    display: flex;
}

.galleryColumn {
    padding: 8px;
}

.footer {
    background-color: #cad5de;
    text-align: center;
    padding: 15px;
    box-shadow: 3px 3px 3px #bbb;
}