.table {
    margin: auto;
    width: 100%;
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    line-height: 1.6;
    box-shadow: 3px 3px 3px #bbb;
    margin-bottom: 60px;
}

.tableCell {
    border: 1px solid #ccc;
    border-width: 0 0 1px;
    padding: 20px;
    text-align: center;
}

.tableHeader {
    color: #eee;
    background-color: #5d7c9a;
}

.tableRow:nth-child(even) {
    background: #cad5de;
}